.listing-card {
    padding: 1rem;
}

header {
    margin-bottom: 2rem;
}

.listing-title {
    text-align: center;
}

.listing-content {
    margin-bottom: 1rem;
}

.listing-actions button:last-child {
    float: right;
}

.seperator {
    padding: 0.5rem;
}